body {
    font-size: 20px;
    margin-left: 10px;
    padding: 30px;
}


table,
th,
td {
    border: 1px solid;
}

table {
    border-collapse: collapse;
}

.title {
    text-align: center;
}

.value {
    text-align: right;
}

input:focus {
    background-color: rgb(206, 241, 253);
}